// Colors
$lightred: #f20519;
$darkred: #b22222;

// Responsive
$breakpoints: (
  'xs': 480px,
  'sm': 768px,
  'md': 1024px,
  'lg': 1280px,
  'xl': 1440px,
);
@mixin screen($breakpoint) {
  $value: map-get($breakpoints, $breakpoint);
  @media (max-width: $value) {
    @content;
  }
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin sectionLayout {
  padding-top: 96px;
  padding-bottom: 96px;
  @include screen('md') {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  h1 {
    align-self: flex-start;
  }
}

@mixin button {
  margin-top: 4px;
  background-color: $lightred;
  border: none;
  padding: 8px 16px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  box-shadow: 0px 0px 20px black;
  cursor: pointer;
  @include center;
  transition: 150ms ease-in-out;
  &:hover {
    transform: scale(0.98);
  }
}

@mixin socialButton {
  text-decoration: none;
  height: 50%;
  @include center;
  transition: 150ms ease-in-out;
  gap: 8px;
  background-color: rgba(white, 0.4);
  padding: 8px 16px;
  @include screen('sm') {
    background-color: transparent;
  }
  img {
    height: 100%;
  }
  span {
    font-size: 1rem;
    @include screen('sm') {
      display: none;
    }
  }
  &:hover {
    transform: scale(0.98);
  }
}
