@use "../../styles/utils.scss" as *;

.concerts {
  @include sectionLayout;
  h1 {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
    @include center;
    div {
      width: 40px;
      border-bottom: 1px solid white;
      margin-right: 12px;
    }
  }
  .swiper {
    @include center;
    position: relative;
    width: 75%;
    @include screen('md') {
        width: 100%;
    }
    img {
      width: 100%;
      cursor: pointer;
    }
    .swiper-button-prev,
    .swiper-button-next {
      background-color: transparent;

      path {
        color: black;
      }
      .swiper-navigation-icon {
        background-color: transparent;
        filter: drop-shadow(2px 2px 5px gray);
      }
    }
    .swiper-pagination {
      background-color: transparent;
      .swiper-pagination-bullet-active {
        background-color: black;
      }
    }
  }
}
