@use '../../styles/utils.scss' as *;

.contact {
  @include sectionLayout;
  &__columns {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    @include screen('sm') {
        grid-template-columns: 1fr;
    }
  }
  &__title {
    width: 80%;
    height: 100%;
    @include center;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    @include screen('sm') {
      width: 90%;
      padding-bottom: 40px;
    }
    h1 {
      font-size: 48px;
      font-weight: 500;
    }
  }
  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  &__form__name,
  &__form__email,
  &__form__message {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    margin-bottom: 24px;
    @include screen('md') {
      width: 90%;
    }
    input,
    textarea {
      width: 100%;
      background-color: rgba(white, 0.3);
      border: none;
      font-size: 16px;
      font-weight: 300;
      padding: 8px;
      resize: none;
      &::placeholder {
        color: white;
        opacity: 1;
      }
      &:focus {
        border: 1px solid white;
        outline: none;
      }
    }
    p {
      width: 100%;
      text-align: left;
      font-size: 16px;
      font-weight: 300;
      font-style: italic;
    }
  }
  button {
    @include button;
    align-self: flex-end;
    margin-right: 10%;
    @include screen('md') {
      margin-right: 5%;
    }
    img {
      height: 22px;
      width: 22px;
    }
    &.disabled {
        cursor: default;
        &:hover {
            transform: scale(1);
        }
    };
  }
}
